@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-image: url(../images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



h1{
    font-size: 2.7rem;
}

main{
    max-width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

input{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input:focus{
    outline-style: solid;
    outline-width: 0.2px;
    outline-color: hsl(248, 32%, 49%);
}

button{
    transition: 0.3s;
    width: 100%;
    padding: 17px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    transition: 0.3s;
    filter: brightness(120%);
}

#verify{
    margin-left: 10px;
}

.congrats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: -100%;
    padding: 10px;
    color: white;
    width: fit-content;
    background-color: rgba(0, 158, 0, 0.822);
}

@keyframes show{
    0%{
        left: -100%;
        opacity: 0;
    }

    15%{
        left: 0;
        opacity: 1;
    }
    50%{
        left: 0;
        opacity: 1;
    }
    100%{
        left: -100%;
        opacity: 0;
    }
}

.show{
    animation-name: show;
    animation-duration: 10s;
}


#info{
    color: white;
    width: 90vw;
    margin-right: 5rem;
}

#interact{
    min-width: 500px;
}

.purple{
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 2rem;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.068);
}

.green{
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    margin-bottom: 17.5px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.068);
}

#inputs{
    background-color: white;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.068);
    display: flex;
    flex-direction: column;
}

.loginInfo{
    padding: 13px 25px 13px 25px;
    font-weight: bolder;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.192);
}

.alert{
    margin-bottom: 17.5px;
    align-self: flex-end;
    font-style: italic;
    color: rgba(255, 0, 0, 0.603);
    font-size: 0.8rem;
    margin-top: 8.75px;
}

.foot{
    color: rgba(0, 0, 0, 0.486);
    font-size: 11px;
    align-self: center;
}

#terms{
    color: red;
    font-weight: bolder;
}

.errorStatus{
    border-color: red;
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.errorStatus::placeholder{
    color: white;
}

.emailErrorStatus{
    color: red;
    border-color: red;
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.emailErrorStatus::placeholder{
    color: white;
}

@media screen and (max-width: 1100px){
    main{
        flex-direction: column;
        align-items: center;
    }    

    #info{
        text-align: center;
        margin-right: 0;
    }
    #interact{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px){
    #interact{
        min-width: 90vw;
        margin-bottom: 1rem;
    }    

    body{
        background-image: url(../images/bg-intro-mobile.png);
    }
}

